<div class="tag_index">
  <h5>Grupos</h5>
</div>

<div class="alert alert-light" role="alert">
  <%= notice %>
</div>

<ul class="list-group">
  <% @event_groups.each do |group| %>
  <li class="list-group-item">
    <div class="left_container">
      <div class="form-group">
        <%= group.name %>
      </div>
    </div>
    <div class="right_container">
      <%= link_to 'Mostrar', event_group_path(group), class: 'btn btn-light btn-sm btn-lg btn-block' %>
    </div>
  </li>
  <% end %>
</ul>
<br>