<div class="show_container">
    <div class="show_core_container">
        <p id="notice"><%= notice %></p>
        <div class="form-group">
            <label>Nombre del grupo de evento:</label>
            <div class="show_container_target">
             <h5>
                 <%= @event_group.name  %>
             </h5> 
         </div>
        </div>
    </div>
</div>

<div class="button_align_right">
    <%= link_to 'Atras', admin_events_group_path, class: 'btn btn-secondary'%>
    <%= link_to 'Editar', edit_admin_events_group_path(@event_group), class: 'btn btn-dark'%>
</div>
