<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmación de su inscripción al evento: <%= @event %>, <%= @user %></h1>
    
    <p>¡Gracias por compartir este evento junto a nosotros!</p>
  </body>
</html>