<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user %>, le comunicamos un nuevo evento que puede ser de su interés en el grupo al que está inscripto.</h1>
    
    <p>¡Gracias por compartir este evento junto a nosotros!</p>
  </body>
</html>