<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user %>. El organizador del evento: <%= @event %> al que usted está inscripto ha informado algunas novedades sobre el mismo.</h1>
    
    <p>¡Gracias por compartir este evento junto a nosotros!</p>
  </body>
</html>