<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Recordatorio de su inscripción al evento: <%= @event %>. <%= @user %> le recordamos que el evento al que se inscribió es mañana.</h1>
    
    <p>¡Gracias por compartir este evento junto a nosotros!</p>
  </body>
</html>