  <%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
      <% event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- aca tendria que ir el formulario -->
  <form method="post">
    <fieldset>
      <legend>Meetup de programación</legend>
      <div>
        <label for="event_date">Fecha: 22 de Agosto 2019</label>
        <br>
        <label for="start_hour">Hora: 19 horas</label>
        <br>
        <label for="place">Lugar: Wecode HQ - Mitre 87 PB "B" , Ramos Mejía</label>
        <br>
        <label for="description">Descripción del evento: </label>
        <input type="text" name="description" size="160">
          <br>
          <label for="expositor">Expositores: </label>
          <input type="text" name="description" size="160">
          <br>
          <label for="max_capacity">Capacidad</label>
          <input type="number" id="max_capacity" name="max_capacity" placeholder="30" min="1" max="30" required="required">
          <br>
          <br>
        </div>
      </fieldset>
    </form>
    
    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>
