<h1>Nuevo Evento</h1>

<%= render 'form', event: @event %> <!-- render incluye la porcion de codigo de form -->

<div class="button_new_event">
	<%= link_to 'Volver', events_path, class: "btn btn-secondary"%>
</div>
