<h1>Wecode</h1>

<div class="form-group">
    <label>Nombre del evento:</label>
    
</div>
<br>
<div class="form-group">
    <label>Fecha:</label>
    
</div>
<br>
<div class="form-group">
    <label>Hora de comienzo:</label>
    
</div>
<br>
<div class="form-group">
    <label>Hora de final:</label>
    
</div>
<br>
<div class="form-group">
    <label>Descripción del evento:</label>
    
</div>
<br>
<div class="form-group">
    <label>Capacidad:</label>
    
</div>
<br>

<input type="submit" value="Inscribirse"> <!-- luego será reemplazado por un link_to -->
<br><br>
<a href="#"><input type="button" name="atras" value="Atrás"></a>