<div class="form-group">
  <div class="show_core_container show-eg edit">
    <h5>Editar grupo</h5>
  </div>
  <div class="show_core_container form-group">
    <%= render 'form', event_group: @event_group %>
  </div>
</div>
