<div class="show_container">
  <div class="show_core_container">
    <div class="form-group">
      <div class="show_container_target text-center show-eg">
        <p class="d-inline">Nombre del grupo de evento:</p>
       <h4>
         <%= @event_group.name  %>
       </h4> 
     </div>
     <div class="show_container_target tag_index text-center title-ins">
      <h5>Listado de inscriptos al grupo</h5>
     </div>
   </div>
 </div>

  <div class="show_core_container">
      <div class="form-group text-center">
        <ul class="list-group">
          <% @event_group.users.each do |user| %>
          <li class="list-group-item">
            <p><%= user.email %></p>
            <%= button_to "Nuevo evento", { action: "newEvent_email", email: user.email }, method: :post %>
          </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>

<div class="button_align_right">
  <%= link_to 'Atras', admin_event_groups_path, class: 'button-show btn'%>
</div>
