/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.background_design{
	background-color: rgb(215, 88, 10);
	min-height: 30em;
}
.footer{
	position: relative;
	text-align: center;
	background-color: #ffff;
}
.main_container{
	width: 90%;
	min-height: 31em;
	margin: auto;
}

.yield_container{
	background-color: rgba(2, 35, 22, 0.2);
	opacity: 20%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 2em;
	margin-bottom: 2em;
}
.yield_core_container{
	padding-top: 0.6em;
	padding-bottom: 0.1rem;
}

.button_align_right{
	text-align: right; 
	padding-top: 1em;
	padding-bottom: 1em;
}

.form_end_container_error{
	width: 70%;
	float: left;
}
.form_end_container_buttons{
	width: 30%;
	float: right;
}

.show_container{
	background-color: #ffff;
}
.show_core_container{
	padding: 1em;
}

.show_container_target{
	text-align: right;
	float: right;
}

.tag_index_events{
	background-color: #ffff;
	border-bottom-left-radius: 70%;
	border-top-right-radius: 70%;
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
}