/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.background_design{
	background-color: rgb(255, 255, 255);
	min-height: 30em;
}
.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #025951;
	color: #FFF;
	height: 3em;
}
.main_container{
	width: 100%;
	min-height: 29.4em;
	margin: auto;
}

.yield_container{
	background-color: #FFF;
	width: 100%;
}

.yield_core_container{
	
}

.button_align_right{
	text-align: right; 
	padding: 1em 2em;
	margin-right: 6.5em;
}

.button_align_right_logue{
	text-align: right; 
	padding: 1em 0;
}

.form_end_container_error{
	width: 70%;
}
.form_end_container_buttons{
	align-content: right;
}

.show_container{
	background-color: #ffff;
}
.show_core_container{
	padding: 3em 2.5em 0 2.5em;
}

.show_core_container_logue{
	margin-top: 2em;
	border-radius: 0.25em;
	background-color: #BEBFB4;
	padding: 3em 2.5em 0 2.5em;
}

.show_core_container_reg{
	padding: 1em 2.5em 0 2.5em;
}

.show_container_target{
	justify-content: center;
	align-items: center;
	border-radius: 0.25rem;
}

.tag_index{
	background-color: #025951;
	color: #fff;
	margin: 0.5em 0;
	padding: 1em 0;
	height: 10em;
	align-items: center;
	justify-content: center;
}

.tag_index_logue{
	background-color: #025951;
	color: #fff;
	margin: 0.5em 0;
	padding: 1em 0;
	height: 5em;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
}

.focuded_content{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	background-color: rgba(250, 231, 221, 0.5);
	width: 60%;
	border-radius: 10%;
}

.button_to{
	display: inline;
}

.button{
	background-color: #02735E;
	color: #fff;
}

.button:hover{
	color: #fff;
	background-color: #04957A;
}

.button-unr{
	background-color: #04957A;
	color: #fff;
}

.button-unr:hover{
	color: #fff;
	background-color: #02735E;
}

.button-show{
	color: #fff;
	background-color: #8C496E;
}

.button-show:hover{
	color: #fff;
	background-color: #BEBFB4;
}

.button-ins{
	color: #fff;
	background-color: #8F908B;
}

.button-ins:hover{
	color: #fff;
	background-color: #BEBFB4;
}

.list-group{
	width: 80%;
	margin: auto;
}

.index-h5{
	background-color: #E8E8E5;
	margin-right: 0.3em;
	height: 1.5em;
	padding-left: 0.3em; 
	border-radius: 0.2em;
}

.show-eg{
	background-color: #025951;
	color: #fff;
	padding: 1em;
	font-size: 1.3em;
}

.font-group{
	font-size: 1.2em;
	background-color: #E8E8E5;
	margin-right: 0.3em;
	height: 1.6em;
	border-radius: 0.2em;
	padding-left: 0.3em; 
}

.title-ins{
	background-color: #02735E;
	height: 5em;
}

.edit{
	padding-left: 2em;
}


/* Color Theme Swatches in Hex 
 { color: #8C496E; }
 { color: #025951; }
 { color: #02735E; }
 { color: #04957A; }
 { color: #BEBFB4; }*/


