// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.left_container{
	width: 80%;
	float: left;
}
.right_container{
	width: 20%;
	float: right;
}